@model IEnumerable<Data.Models.FormData>

<h2>Wyniki</h2>
<div><a asp-controller="Form" asp-action="Form" class="btn btn-primary">Dodaj Nowy</a></div>
@foreach (var item in Model)
{
    <table>
    <thead>
        <tr>
            <th>Dane 1: @item.Data1 </th>           
            <th>Dane 2: @item.Data2</th>

        </tr>
    </thead>
    </table>
}
