@model Magazyn.Models.Najem

@{
    ViewData["Title"] = "Sukces wynajmu";
}

<h2>Sukces wynajmu</h2>
<div>
    <a asp-action="CreateForm">Wynajmij kolejny magazyn</a>
</div>
<div>
    <a asp-action="RentalsList">Lista Magazynów</a>
</div>
